---
apiVersion: v1
kind: Secret
metadata:
  name: onepassword-secret
  namespace: external-secrets
stringData:
  1password-credentials.json: op://darg-home-ops/1password/OP_CREDENTIALS_JSON
  token: op://darg-home-ops/1password/OP_CONNECT_TOKEN
#--- # darg-ops-change
#apiVersion: v1 # darg-ops-change
#kind: Secret # darg-ops-change
#metadata: # darg-ops-change
#  name: sops-age-secret # darg-ops-change
#  namespace: flux-system # darg-ops-change
#stringData: # darg-ops-change
#  age.agekey: op://darg-home-ops/sops/SOPS_PRIVATE_KEY # darg-ops-change
---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-tunnel-id-secret
  namespace: network
stringData:
  CLOUDFLARE_TUNNEL_ID: op://darg-home-ops/cloudflare/CLOUDFLARE_TUNNEL_ID
